*{
    margin: 0px;
    border: border-box;
    font-family: Arial;
}

.navbar{
    height: 60px;
    background-color: rgb(4, 72, 4);
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.border:hover{
    border: 2px solid white;
}

/*For amazon logo*/
.nav-logo{
    height: 65px;
    width: 130px;
    background-image: url(amazon_logo.png);
    background-size: cover;
}

/*For delivery location*/
.location{
    justify-content: center;
    align-content: center;
    height: 50px;
    width: 90px;
}

.first{
    color: #cccccc;
    font-size: 0.7rem;
    margin-left: 14px;
}

.icon{
    display: flex;
}

.second{
    color: white;
    font-size: 0.9rem;
    margin-left: 2px;
}

/*For search pannel*/
.search{
    width: 1050px;
    height: 45px;
    display: flex;
    border-radius: 5px;
    background-color:rgb(227, 15, 178) ;
    border: none;
}

.search1{
    width: 50px ;
    border-top-left-radius: 5px ;
    border-bottom-left-radius: 5px ;
    text-align: left;
    color: grey;
}
.search2{
    width: 1000px ;
    font-size: 1rem;
}

.search .glass{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*For selecting language*/
.language{
    display: flex;
    border: none;
}
.flag{
    height: 20px;
    width: 20px;
    background-image: url(USA.png);
    background-size: cover;
}

/*for sign in box*/
.hello{
    font-size: 0.7rem;
}
.lists{
    font-size: 0.9rem;
    font-weight: bold;
}

/*For orders*/
.orders{
    justify-content: center;
    align-content: center;
    height: 50px;
    width: 80px
}
.returns{
    font-size: 0.7rem;
}
.return1{
    font-size: 0.9rem;
    font-weight: bold;
}

/*For cart*/
.cart{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 85px;
    height: 50px;
}

.kart{
    color: #ffffff;
    font-size: 15px;
}

/*for panel section*/
.panel{
    display:flex;
    height: 40px;
    background-color: darkgreen;
    color: white;
    align-items: center;
}
.menu{
    margin: 25px;
}
.menu-ops p{
    display: inline;
    margin-left: 15px;
}

.menu-ops{
    width: 90%;
    font-size: 0.8rem;
}

body{
    background-color: rgb(241, 237, 237);
}

.part1{
    height: 250px;
    width: 90%;
    background-image: url(img1.jpg);
    background-size: cover;
    margin-left: 85px;
}

h3{
    color: black;
    padding-top: 20px;
    padding-left: 10px;
    margin-left: 10px;
    padding-bottom: 10px;
}

.imp{
    display: flex;
    flex-wrap: wrap;
    width: 94%;
    justify-content: space-evenly;
    
}
.part2{
    height: 330px;
    width: 300px;
    background-color: white;
    margin-left: 95px;
    margin-bottom: 20px;
}

.headsets{
    height: 150px;
    width: 270px;
    background-image: url(img2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 15px;
}

.shop{
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 25px;
    font-size: 0.9rem;
}

.seemore{
    text-decoration: none;
    color: #007185;
    font-size: 0.9rem;
    margin-left: 15px;
}
.part3{
    height: 330px;
    width: 300px;
    background-color: white;
    margin-left: 95px;
}

.keyboard{
    height: 150px;
    width: 270px;
    background-image: url(img3.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 15px;
}

.part4{
    height: 330px;
    width: 300px;
    background-color: white;
    margin-left: 95px;
}

.mouse{
    height: 150px;
    width: 270px;
    background-image: url(img4.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 15px;
}

.part5{
    height: 330px;
    width: 300px;
    background-color: white;
    margin-left: 95px;
}

.chair{
    height: 150px;
    width: 270px;
    background-image: url(img5.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 15px;
}

.part6{
    height: 330px;
    width: 300px;
    background-color: white;
    margin-left: 95px;
}

.headsets{
    height: 150px;
    width: 270px;
    background-image: url(img2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 15px;
}

.part7{
    height: 330px;
    width: 300px;
    background-color: white;
    margin-left: 95px;
}

.headsets{
    height: 150px;
    width: 270px;
    background-image: url(img2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 15px;
}

.part8{
    height: 330px;
    width: 300px;
    background-color: white;
    margin-left: 95px;
}

.headsets{
    height: 150px;
    width: 270px;
    background-image: url(img2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 15px;
}

.part9{
    height: 330px;
    width: 300px;
    background-color: white;
    margin-left: 95px;
}

.headsets{
    height: 150px;
    width: 270px;
    background-image: url(img2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 15px;
}

/*for footer*/
.footerpanel{
    height: 150px;
    background-color: white;
    border: 0.5px solid rgb(214, 212, 212);
    margin-top: 20px;
}

.see{
    text-align: center;
    margin-top: 35px;
    margin-bottom: 15px;
}

.signin{
    background-color: rgb(244, 135, 95);
    height: 30px;
    width: 200px;
    display: block;
    border: none;
    border-radius: 5px;
}

.new{
    text-align: center;
    font-size: 0.6rem;
}

.link{
    text-decoration: none;
    color: green;
}