*{
    margin: 0px;
    border: border-box;
    font-family: Arial;
}

.navbar{
    height: 60px;
    background-color: rgb(4, 72, 4);
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.border:hover{
    border: 2px solid white;
}

/*For amazon logo*/
.nav-logo{
    height: 65px;
    width: 130px;
    background-image: url(amazon_logo.png);
    background-size: cover;
}

/*For delivery location*/
.location{
    justify-content: center;
    align-content: center;
    height: 50px;
    width: 90px;
}

.first{
    color: #cccccc;
    font-size: 0.7rem;
    margin-left: 14px;
}

.icon{
    display: flex;
}

.second{
    color: white;
    font-size: 0.9rem;
    margin-left: 2px;
}

/*For search pannel*/
.search{
    width: 1050px;
    height: 45px;
    display: flex;
    border-radius: 5px;
    background-color:rgb(227, 15, 178) ;
    border: none;
}

.search1{
    width: 50px ;
    border-top-left-radius: 5px ;
    border-bottom-left-radius: 5px ;
    text-align: left;
    color: grey;
}
.search2{
    width: 1000px ;
    font-size: 1rem;
}

.search .glass{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*For selecting language*/
.language{
    display: flex;
    border: none;
}
.flag{
    height: 20px;
    width: 20px;
    background-image: url(USA.png);
    background-size: cover;
}

/*for sign in box*/
.hello{
    font-size: 0.7rem;
}
.lists{
    font-size: 0.9rem;
    font-weight: bold;
}

/*For orders*/
.orders{
    justify-content: center;
    align-content: center;
    height: 50px;
    width: 80px
}
.returns{
    font-size: 0.7rem;
}
.return1{
    font-size: 0.9rem;
    font-weight: bold;
}

/*For cart*/
.cart{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 85px;
    height: 50px;
}

.kart{
    color: #ffffff;
    font-size: 15px;
}
