*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(86, 157, 218);
    text-align: center;
}

h1{
    padding-top: 10px;
}
.container{
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin ;
    width: 70vmin ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    font-weight: bold;
    background-color: beige;
    color: black;
}

.msg-container{
    height: 13vmin;
    margin-bottom: 5px ;
    padding-top: 10px;
}

#msg{
    color: rgb(119, 2, 2);
}

.hide{
    display: none;
}

#newgame{
    font: 2rem;
    color: white;
    background-color: black;
    padding: 0.8rem;
    border-radius: 1rem;
    border: none;
    margin-top: 8px;
}

#reset{
    font: 2rem;
    color: white;
    background-color: black;
    padding: 0.8rem;
    border-radius: 1rem;
    border: none;
}