*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: arial;
}

.content{
    display: flex;
    background-color: black;
}

/*For leftmost content*/
.left{
    width: 25%;
    height: 100vh;
}

.left1{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 75%;
    margin-left: 100px;
}

.twitter{
    width: 50px;
    height: 30px;
    background-image: url(img1.png);
    background-size: cover;
    position: relative;
    top: 15px;
    left: 60px;
    margin-bottom: 40px;
}

.one{
   margin-bottom: 32px; 
   margin-left: 70px;
   font-size: 1.1rem;
   font-weight: bold;
   color: white;
   background-color: black;
}

.one i{
    margin-right: 15px;
}

.post{
    width: 240px;
    height: 50px;
    background-color: #1d9bf0;
    border-radius: 30px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    margin-left: 60px;
}

.profile{
    display: flex;
    margin-left: 60px;
    margin-top: 50px;
    color: white;
}

.profilepic{
    width: 40px;
    height: 40px;
    background-color: pink;
    border-radius: 50%;
}

.info{
    margin-left: 10px;
    font-size: 0.95rem;
}

.name{
    font-weight: bold;
    margin-bottom: 3px;
}

.menu{
    margin-left: 110px;
    margin-top: 10px;
}

/*for main feed*/
.middle{
    width: 50%;
    height: 100vh;
    background-color: black;
    color: white;
}

.top{
    height: 50px;
    width: 90%;
    display: flex;
    justify-content: space-around;
    border: 0.3px solid #71767B;
    padding-top: 15px;
    background-color: black;
}

.status{
    height: 130px;
    width: 90%;
    background-color: black;
    padding: 20px 0px 0px 10px;
    flex-direction: column;
    border: 0.3px solid #717171;
}

.status p{
    padding-top: 10px;
    padding-left: 20px;
    font-size: 1.2rem;
    color: #71767B;
    position: relative;
    bottom: 40px;
    left: 40px;
}

.icon{
    height: 0px;
    width: 30%;
    display: flex;
    gap: 30px;
    margin-left: 50px;
    color: #1d9bf0;
    position: relative;
    bottom: 5px;
}

.status button{
    background-color: #1d9bf0;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: none;
    position: relative;
    left: 620px;
    bottom: 30px;
}

.postcreated{
    height: 635px;
    width: 90%;
    border: 0.3px solid #71767B;
}

.personsname{
    font-weight: bold;
    font-size: 0.95rem;
    margin-left: 15px;
    margin-top: 10px;
    color: white;
}

.aka{
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-left: 40px;
}

.user{
    display: flex;
    flex-direction: column;
    margin-left: 90px;
}

.user p{
    margin-bottom: 10px;
}

.picture{
    height: 500px;
    width: 100%;
    background-image: url(img2.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
}

.reactions{
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    width: 75%;
    padding: 7px;
}

.reactions p{
    font-size: 0.9rem;
    margin-right: 60px;
}

/*for rightmost content*/
.right{
    width: 25%;
    height: 100vh;
    background-color: black;
}

.right1{
    height: 100vh;
    width: 75%;
    background-color: black;
}

.search{
    height: 50px;
    width: 100%;
    background-color: #202327;
    border-radius: 20px;
    color: rgb(158, 158, 158);
    position: relative;
    top: 5px;
    margin-bottom: 10px;
}

.search i{
    margin-top: 17px ;
    margin-left: 17px;
}

.searchpanel{
    height: 43px;
    width: 253px;
    border: none;
    border-radius: 15px;
    margin-left: 8px;
    background-color: #202327;
    font-weight: bold;
}

.premium{
    width: 100%;
    height: 150px;
    color: white;
    margin-top: 15px;
    border: 0.3px solid #71767B;
    border-radius: 10px;
}

.premium h3{
    padding: 13px;
    padding-left: 8px;
}

.premium p{
    margin-left: 10px;
    margin-bottom: 10px;
}

.subscribe{
    height: 40px;
    width: 110px;
    background-color: #1d9bf0;
    border-radius: 20px;
    color: white;
    position: relative;
    left: 8px;
    border: none;
    font-weight: bold;
}

.trending{
    height:250px;
    width: 100%;
    color: white;
    border: 0.3px solid #71767B;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
}

.title{
    font-size: 0.8rem;
    color: #71767B;
}

.trending i{
    color:#71767B;
    margin-left: 160px;
}

.trending1{
    padding: 10px 0px 15px 15px
}

.trending2{
    padding: 10px 0px 15px 15px
}

.trending3{
    padding: 10px 0px 15px 15px
}

.trending4{
    padding: 10px 0px 15px 15px
}

.follow{
    height: 220px;
    width: 100%;
    color: white;
    border: 0.3px solid #71767B;
    border-radius: 10px;
}

.follow h2{
    margin: 15px;
}

.preview{
    margin-left: 10px;
    margin-right: 35px;
}
.preview1{
    margin-left: 10px;
    margin-right: 10px;
}

.name1{
    font-size: 0.9rem;
    font-weight: bold;
}

.name2{
    font-size: 0.9rem;
    color: #71767B;
}

.gagan{
    display: flex;
    margin: 10px;
}
.bbc{
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
}

.add{
    color: black;
    background-color: white;
    border-radius: 20px;
    width: 70px;
    height: 40px;
    border: none;
    font-weight: bold;
}
.show a{
    text-decoration: none;
    color: #1d9bf0;
}

.show{
    margin: 15px;
}

.footer{
    height: 100px;
    width: 100%;
    margin-top: 10px;
}

.footer p{
    display: inline;
    font-size: 0.8rem;
    color: #71767B;
    margin-right: 10px;
    margin-left: 3px;
}

